$primary: #1E49FF;
$background: #251f68;

$border-color: transparentize(#95a9b6, 0.7);
$border-color-light: transparentize(#95a9b6, 0.6);
$border-color-lighter: transparentize(#95a9b6, 0.5);
$border-color-extra-light: transparentize(#95a9b6, 0.4);

$white: #fff;

$black-100: #07060F;
$black-00: #C2C2FF;
$black-90: mix($black-100, $black-00, 90%);
$black-80: mix($black-100, $black-00, 80%);
$black-70: mix($black-100, $black-00, 70%);
$black-60: mix($black-100, $black-00, 60%);
$black-50: mix($black-100, $black-00, 50%);
$black-40: mix($black-100, $black-00, 40%);
$black-30: mix($black-100, $black-00, 30%);
$black-20: mix($black-100, $black-00, 20%);
$black-10: mix($black-100, $black-00, 10%);
